version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
  # libshvproto-macros is handled together with this one
  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: weekly
